language: go

go:
  - 1.8.x
  - 1.10.x
  - 1.12.x
  - 1.13.x

script:
  - go test -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    on_success: never